ExpressELIXIR/ExpressELIXIR-AGENT/ExpressELIXIR-ejb/src/main/resources/META-INF/wsdl/pacs.002.001.03_SRPN.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Jan 08 17:30:53-->
<!--Modified for SRPN purposes-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:element name="IBAN" type="IBAN2007Identifier">
				<xs:annotation>
					<xs:documentation>Nr rachunku IBAN: "PL" || NRB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1"/>
			</xs:choice>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999.99"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="12"/>
		</xs:restriction>
		<!--<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>-->
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
					<xs:annotation>
						<xs:documentation>Kod waluty - tylko {PLN}</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
			<xs:enumeration value="PLN"/>
		</xs:restriction>
		<!--<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>-->
	</xs:simpleType>
	<!--<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="AmendmentInformationDetails6">
		<xs:sequence>
			<xs:element name="OrgnlMndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlCdtrSchmeId" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlDbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlFnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="OrgnlFrqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="AmountType3Choice">
		<xs:sequence>
			<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<!--<xs:choice>
				<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
				<xs:element name="EqvtAmt" type="EquivalentAmount2"/>
			</xs:choice>-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7">
				<xs:annotation>
					<xs:documentation>Identyfikacja jednostki uczestnika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="BrnchId" type="BranchData2" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="CashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
			<!--<xs:element name="Tp" type="CashAccountType2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="CashAccountType2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CashAccountType4Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="CashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CHAR"/>
			<xs:enumeration value="COMM"/>
			<xs:enumeration value="TAXE"/>
			<xs:enumeration value="CISH"/>
			<xs:enumeration value="TRAS"/>
			<xs:enumeration value="SACC"/>
			<xs:enumeration value="CACC"/>
			<xs:enumeration value="SVGS"/>
			<xs:enumeration value="ONDP"/>
			<xs:enumeration value="MGLD"/>
			<xs:enumeration value="NREX"/>
			<xs:enumeration value="MOMA"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="SLRY"/>
			<xs:enumeration value="ODFT"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="ChargesInformation5">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="Pty" type="BranchAndFinancialInstitutionIdentification4"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="ClearingChannel2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RTGS"/>
			<xs:enumeration value="RTNS"/>
			<xs:enumeration value="MPNS"/>
			<xs:enumeration value="BOOK"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="ClearingSystemIdentification3Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
			<xs:element name="Ref" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV03">
				<xs:annotation>
					<xs:documentation>Komunikat ze statusem Zlecenia Płatności</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="EquivalentAmount2">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalCashClearingSystem1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:simpleType name="ExternalStatusReason1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FIToFIPaymentStatusReportV03">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader37">
				<xs:annotation>
					<xs:documentation>Nagłówek komunikatu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformation20">
				<xs:annotation>
					<xs:documentation>Referencja do oryginalnego komunikatu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxInfAndSts" type="PaymentTransactionInformation26">
				<xs:annotation>
					<xs:documentation>Dane o transakcji i statusie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="TxInfAndSts" type="PaymentTransactionInformation26" minOccurs="0" maxOccurs="unbounded"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<!--<xs:element name="BIC" type="BICIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="Othr" type="GenericFinancialIdentification1">
				<xs:annotation>
					<xs:documentation>Inny identyfikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:simpleType name="Frequency1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MNTH"/>
			<xs:enumeration value="QURT"/>
			<xs:enumeration value="MIAN"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAIL"/>
			<xs:enumeration value="ADHO"/>
			<xs:enumeration value="INDA"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation>Nr KNR</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{8,8}"/>
						<xs:pattern value="KIRSRPNX"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--<xs:element name="Id" type="Max35Text"/>-->
			<!--<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="GroupHeader37">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>Identyfikator Komunikatu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>Data + czas utworzenia komunikatu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4">
				<xs:annotation>
					<xs:documentation>Identyfikacja nadawcy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4">
				<xs:annotation>
					<xs:documentation>Identyfikacja odbiorcy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<!--<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="MandateRelatedInformation6">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="DtOfSgntr" type="ISODate" minOccurs="0"/>
			<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0"/>
			<xs:element name="AmdmntInfDtls" type="AmendmentInformationDetails6" minOccurs="0"/>
			<xs:element name="ElctrncSgntr" type="Max1025Text" minOccurs="0"/>
			<xs:element name="FrstColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="FnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="Frqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="Max1025Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1025"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:simpleType name="Max105Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="105"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:simpleType name="Max23Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="NumberOfTransactionsPerStatus3">
		<xs:sequence>
			<xs:element name="DtldNbOfTxs" type="Max15NumericText"/>
			<xs:element name="DtldSts" type="TransactionIndividualStatus3Code"/>
			<xs:element name="DtldCtrlSum" type="DecimalNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="OriginalGroupInformation20">
		<xs:sequence>
			<xs:element name="OrgnlMsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>Identyfikator oryginalnego komunikatu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlMsgNmId">
				<xs:annotation>
					<xs:documentation>Typ oryginalnego komunikatu</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Max35Text">
						<xs:enumeration value="pacs.004.001.02"/>
						<xs:enumeration value="pacs.008.001.02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--<xs:element name="OrgnlMsgNmId" type="Max35Text"/>-->
			<!--<xs:element name="OrgnlCreDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrgnlNbOfTxs" type="Max15NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrgnlCtrlSum" type="DecimalNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GrpSts" type="TransactionGroupStatus3Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StsRsnInf" type="StatusReasonInformation8" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NbOfTxsPerSts" type="NumberOfTransactionsPerStatus3" minOccurs="0" maxOccurs="unbounded"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalTransactionReference13">
		<xs:sequence>
			<!--<xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="Amt" type="AmountType3Choice">
				<xs:annotation>
					<xs:documentation>Kwota transakcji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="Amt" type="AmountType3Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReqdColltnDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReqdExctnDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SttlmInf" type="SettlementInformation13" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation22" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PmtMtd" type="PaymentMethod4Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MndtRltdInf" type="MandateRelatedInformation6" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dbtr" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="DbtrAcct" type="CashAccount16">
				<xs:annotation>
					<xs:documentation>Konto płatnika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="DbtrAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4">
				<xs:annotation>
					<xs:documentation>Numer rozliczeniowy jednostki płatnika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="DbtrAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4">
				<xs:annotation>
					<xs:documentation>Numer rozliczeniowy jednostki beneficjenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="CdtrAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cdtr" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="CdtrAcct" type="CashAccount16">
				<xs:annotation>
					<xs:documentation>Konto beneficjenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="Party6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4"/>
				<xs:element name="PrvtId" type="PersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="PartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="Party6Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="PaymentMethod4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHK"/>
			<xs:enumeration value="TRF"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="TRA"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:complexType name="PaymentTransactionInformation26">
		<xs:sequence>
			<!--<xs:element name="StsId" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="OrgnlInstrId">
				<xs:annotation>
					<xs:documentation>Oryginalna instrukcja komunikatu</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Max35Text">
						<xs:enumeration value="sendTrf"/>
						<xs:enumeration value="authTrf"/>
						<xs:enumeration value="ackCrdt"/>
						<xs:enumeration value="ackDebt"/>
						<xs:enumeration value="rjctTrf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--<xs:element name="OrgnlInstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="OrgnlEndToEndId" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="OrgnlTxId" type="Max23Text">
				<xs:annotation>
					<xs:documentation>Oryginalny identyfikator transakcji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="OrgnlTxId" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="TxSts" type="TransactionIndividualStatus3Code">
				<xs:annotation>
					<xs:documentation>Status transkacji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="TxSts" type="TransactionIndividualStatus3Code" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="StsRsnInf" type="StatusReasonInformation8" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Przyczyna statusu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="StsRsnInf" type="StatusReasonInformation8" minOccurs="0" maxOccurs="unbounded"/>-->
			<!--<xs:element name="ChrgsInf" type="ChargesInformation5" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AccptncDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClrSysRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="OrgnlTxRef" type="OriginalTransactionReference13">
				<xs:annotation>
					<xs:documentation>Referencja do oryginalnej transakcji</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="PaymentTypeInformation22">
		<xs:sequence>
			<xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
			<xs:element name="ClrChanl" type="ClearingChannel2Code" minOccurs="0"/>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
			<xs:element name="SeqTp" type="SequenceType1Code" minOccurs="0"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="Priority2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="ReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType5Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="RemittanceAmount1">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="RemittanceInformation5">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="SequenceType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRST"/>
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="FNAL"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="ServiceLevel8Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalServiceLevel1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="SettlementInformation13">
		<xs:sequence>
			<xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
			<xs:element name="SttlmAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0"/>
			<xs:element name="InstgRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="InstgRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="InstdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="InstdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="ThrdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="ThrdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="SettlementMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INDA"/>
			<xs:enumeration value="INGA"/>
			<xs:enumeration value="COVE"/>
			<xs:enumeration value="CLRG"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:complexType name="StatusReason6Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalStatusReason1Code">
				<xs:annotation>
					<xs:documentation>Kod ze słownika External Status Reason</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prtry">
				<xs:annotation>
					<xs:documentation>Kod przyczyny wg SRPN</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Max35Text">
						<xs:enumeration value="CANM"/>
						<xs:enumeration value="DANM"/>
						<xs:enumeration value="CADU"/>
						<xs:enumeration value="CASU"/>
						<xs:enumeration value="DATU"/>
						<xs:enumeration value="DTNR"/>
						<xs:enumeration value="DTCP"/>
						<xs:enumeration value="DTRJ"/>
						<xs:enumeration value="DTIP"/>
						<xs:enumeration value="DTCL"/>
						<xs:enumeration value="DTRF"/>
						<xs:enumeration value="IVTX"/>
						<xs:enumeration value="MVER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="StatusReasonInformation8">
		<xs:sequence>
			<!--<xs:element name="Orgtr" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="Rsn" type="StatusReason6Choice">
				<xs:annotation>
					<xs:documentation>Przyczyna</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="Rsn" type="StatusReason6Choice" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="AddtlInf" type="Max105Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dodatkowe informacje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="unbounded"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="StructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
			<xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="TransactionGroupStatus3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTC"/>
			<xs:enumeration value="RCVD"/>
			<xs:enumeration value="PART"/>
			<xs:enumeration value="RJCT"/>
			<xs:enumeration value="PDNG"/>
			<xs:enumeration value="ACCP"/>
			<xs:enumeration value="ACSP"/>
			<xs:enumeration value="ACSC"/>
			<xs:enumeration value="ACWC"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:simpleType name="TransactionIndividualStatus3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RJCT"/>
			<xs:enumeration value="ACCP"/>
			<xs:enumeration value="ACSP"/>
			<xs:enumeration value="ACSC"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>-->
</xs:schema>
