ExpressELIXIR/ExpressELIXIR-AGENT/ExpressELIXIR-web/src/wsdl/pacs.008.001.02_SRPN.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Jan 08 17:30:53-->
<!--Modified for SRPN purposes-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.02" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:element name="IBAN" type="IBAN2007Identifier">
				<xs:annotation>
					<xs:documentation>Nr rachunku IBAN: "PL" || NRB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1"/>
			</xs:choice>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="9999999999.99"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="12"/>
		</xs:restriction>
		<!--<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>-->
	</xs:simpleType>
	<xs:complexType name="ActiveCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
					<xs:annotation>
						<xs:documentation>Waluta transakcji - tylko PLN</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
			<xs:enumeration value="PLN"/>
		</xs:restriction>
		<!--<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>-->
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="9999999999.99"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="12"/>
		</xs:restriction>
		<!--<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>-->
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
					<xs:annotation>
						<xs:documentation>Waluta transakcji - tylko PLN</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
			<xs:enumeration value="PLN"/>
		</xs:restriction>
		<!--<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>-->
	</xs:simpleType>
	<!--<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:simpleType name="BaseOneRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="BatchBookingIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>-->
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7">
				<xs:annotation>
					<xs:documentation>Identyfikacja Jednostki Uczestnika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="BrnchId" type="BranchData2" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="CashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice">
				<xs:annotation>
					<xs:documentation>Identyfikator konta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="Tp" type="CashAccountType2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="CashAccountType2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CashAccountType4Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="CashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CHAR"/>
			<xs:enumeration value="COMM"/>
			<xs:enumeration value="TAXE"/>
			<xs:enumeration value="CISH"/>
			<xs:enumeration value="TRAS"/>
			<xs:enumeration value="SACC"/>
			<xs:enumeration value="CACC"/>
			<xs:enumeration value="SVGS"/>
			<xs:enumeration value="ONDP"/>
			<xs:enumeration value="MGLD"/>
			<xs:enumeration value="NREX"/>
			<xs:enumeration value="MOMA"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="SLRY"/>
			<xs:enumeration value="ODFT"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<xs:simpleType name="ChargeBearerType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
		<!--<xs:restriction base="xs:string">
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="SHAR"/>
			<xs:enumeration value="SLEV"/>
		</xs:restriction>-->
	</xs:simpleType>
	<!--<xs:complexType name="ChargesInformation5">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="Pty" type="BranchAndFinancialInstitutionIdentification4"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="ClearingChannel2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RTGS"/>
			<xs:enumeration value="RTNS"/>
			<xs:enumeration value="MPNS"/>
			<xs:enumeration value="BOOK"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
				<xs:annotation>
					<xs:documentation>Kod systemu rozliczeniowego</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:choice>
				<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification3Choice">
		<xs:sequence>
			<xs:element name="Prtry" type="Max35Text" fixed="SRPN">
				<xs:annotation>
					<xs:documentation>Kod systemu rozliczeniowego  {SRPN}</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:choice>
				<xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
			<!--<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="MmbId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>Identyfikator Uczestnika w izbie rozliczeniowej</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:complexType name="CreditTransferTransactionInformation11">
		<xs:sequence>
			<xs:element name="PmtId" type="PaymentIdentification3">
				<xs:annotation>
					<xs:documentation>Identyfikacja płatności</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation21">
				<xs:annotation>
					<xs:documentation>Typ płatności</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="PmtTpInf" type="PaymentTypeInformation21" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation>Kwota do rozliczenia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data Waluty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="SttlmPrty" type="Priority3Code" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="SttlmTmIndctn" type="SettlementDateTimeIndication1" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="SttlmTmReq" type="SettlementTimeRequest2" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="AccptncDtTm" type="ISODateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pole zarezerwowane dla przyszłych zastosowań</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="PoolgAdjstmntDt" type="ISODate" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation>Kwota transakcji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="XchgRate" type="BaseOneRate" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="ChrgBr" type="ChargeBearerType1Code">
				<xs:annotation>
					<xs:documentation>Strona ponosząca koszty {SLEV} - ustalona umową</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="ChrgsInf" type="ChargesInformation5" minOccurs="0" maxOccurs="unbounded"/>-->
			<!--<xs:element name="PrvsInstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="PrvsInstgAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="IntrmyAgt1Acct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="IntrmyAgt2Acct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="IntrmyAgt3Acct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="InitgPty" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="Dbtr" type="PartyIdentification32">
				<xs:annotation>
					<xs:documentation>Dane Płatnika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DbtrAcct" type="CashAccount16">
				<xs:annotation>
					<xs:documentation>Dane konta płatnika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="DbtrAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4">
				<xs:annotation>
					<xs:documentation>Numer rozliczeniowy jednostki płatnika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="DbtrAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4">
				<xs:annotation>
					<xs:documentation>Numer rozliczniowy jednostki beneficjenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="CdtrAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="Cdtr" type="PartyIdentification32">
				<xs:annotation>
					<xs:documentation>Dane beneficjenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtrAcct" type="CashAccount16">
				<xs:annotation>
					<xs:documentation>Dane konta beneficjenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="InstrForCdtrAgt" type="InstructionForCreditorAgent1" minOccurs="0" maxOccurs="unbounded"/>-->
			<!--<xs:element name="InstrForNxtAgt" type="InstructionForNextAgent1" minOccurs="0" maxOccurs="unbounded"/>-->
			<!--<xs:element name="Purp" type="Purpose2Choice" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="RgltryRptg" type="RegulatoryReporting3" minOccurs="0" maxOccurs="10"/>-->
			<!--<xs:element name="RltdRmtInf" type="RemittanceLocation2" minOccurs="0" maxOccurs="10"/>-->
			<xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informacje dot. przelewu</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ref" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV02">
				<xs:annotation>
					<xs:documentation>Komunikat Zlecenia Płatności </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalCashClearingSystem1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--	<xs:simpleType name="ExternalPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:complexType name="FIToFICustomerCreditTransferV02">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader33">
				<xs:annotation>
					<xs:documentation>Nagłówek grupy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation11">
				<xs:annotation>
					<xs:documentation>Dane transakcji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation11" minOccurs="1" maxOccurs="unbounded"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<!--<xs:element name="BIC" type="BICIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="Othr" type="GenericFinancialIdentification1">
				<xs:annotation>
					<xs:documentation>Inny identyfikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation>Nr KNR</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{8,8}"/>
						<xs:pattern value="KIRSRPNX"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--<xs:element name="Id" type="Max35Text"/>-->
			<!--<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="GroupHeader33">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>Identyfikator komunikatu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>Data + czas utworzenia komunikatu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="NbOfTxs" type="Max15NumericText" fixed="1">
				<xs:annotation>
					<xs:documentation>Liczba transakcji - zawsze 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="NbOfTxs" type="Max15NumericText"/>-->
			<!--<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="TtlIntrBkSttlmAmt" type="ActiveCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="SttlmInf" type="SettlementInformation13">
				<xs:annotation>
					<xs:documentation>Informacje o rozliczeniu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="PmtTpInf" type="PaymentTypeInformation21" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4">
				<xs:annotation>
					<xs:documentation>Identyfikacja nadawcy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4">
				<xs:annotation>
					<xs:documentation>Identyfikacja odbiorcy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ISOTime">
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<!--<xs:simpleType name="Instruction3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHQB"/>
			<xs:enumeration value="HOLD"/>
			<xs:enumeration value="PHOB"/>
			<xs:enumeration value="TELB"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="Instruction4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PHOA"/>
			<xs:enumeration value="TELA"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="InstructionForCreditorAgent1">
		<xs:sequence>
			<xs:element name="Cd" type="Instruction3Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstrInf" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="InstructionForNextAgent1">
		<xs:sequence>
			<xs:element name="Cd" type="Instruction4Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstrInf" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="Max10Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:simpleType name="Max23Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<!--	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NameAndAddress10">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text"/>
			<xs:element name="Adr" type="PostalAddress6"/>
		</xs:sequence>
	</xs:complexType>
	<!--<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="Party6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4"/>
				<xs:element name="PrvtId" type="PersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="PartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text">
				<xs:annotation>
					<xs:documentation>Nazwa klienta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adres klienta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="Id" type="Party6Choice" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification3">
		<xs:sequence>
			<xs:element name="InstrId">
				<xs:annotation>
					<xs:documentation>Operacja do wykonania {sendTrf, authTrf, ackCrdt, ackDebt}: wyslijPrzelew, autoryzujPrzelew, uznajRachunek, obciazRachunek</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Max35Text">
						<xs:enumeration value="sendTrf"/>
						<xs:enumeration value="authTrf"/>
						<xs:enumeration value="ackCrdt"/>
						<xs:enumeration value="ackDebt"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--<xs:element name="InstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="EndToEndId" type="Max23Text">
				<xs:annotation>
					<xs:documentation>Unikalny identyfikator zlecenia (ten sam co TxId)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="EndToEndId" type="Max35Text"/>-->
			<xs:element name="TxId" type="Max23Text">
				<xs:annotation>
					<xs:documentation>Unikalny indentyfikator transakcji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="TxId" type="Max35Text"/>-->
			<!--<xs:element name="ClrSysRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypeInformation21">
		<xs:sequence>
			<!--<xs:element name="InstrPrty" type="Priority2Code" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="ClrChanl" type="ClearingChannel2Code" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="SvcLvl" type="ServiceLevel8Choice">
				<xs:annotation>
					<xs:documentation>Poziom usługi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<!--<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="Dept" type="Max70Text" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="SubDept" type="Max70Text" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="PstCd" type="Max16Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod pocztowy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nazwa miejscowości</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="Ctry" type="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kod Kraju</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>2 Linie adresu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>-->
		</xs:sequence>
	</xs:complexType>
	<!--<xs:simpleType name="Priority2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:simpleType name="Priority3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="URGT"/>
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="Purpose2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="ReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType5Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="RegulatoryAuthority2">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="RegulatoryReporting3">
		<xs:sequence>
			<xs:element name="DbtCdtRptgInd" type="RegulatoryReportingType1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Authrty" type="RegulatoryAuthority2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dtls" type="StructuredRegulatoryReporting3" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="RegulatoryReportingType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="BOTH"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--<xs:complexType name="RemittanceAmount1">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:complexType name="RemittanceInformation5">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text">
				<xs:annotation>
					<xs:documentation>Tytułem</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<!--<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>-->
	</xs:complexType>
	<!--<xs:complexType name="RemittanceLocation2">
		<xs:sequence>
			<xs:element name="RmtId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RmtLctnMtd" type="RemittanceLocationMethod2Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RmtLctnElctrncAdr" type="Max2048Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RmtLctnPstlAdr" type="NameAndAddress10" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:simpleType name="RemittanceLocationMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAXI"/>
			<xs:enumeration value="EDIC"/>
			<xs:enumeration value="URID"/>
			<xs:enumeration value="EMAL"/>
			<xs:enumeration value="POST"/>
			<xs:enumeration value="SMSM"/>
		</xs:restriction>
	</xs:simpleType>-->
	<xs:complexType name="ServiceLevel8Choice">
		<xs:sequence>
			<xs:element name="Prtry">
				<xs:annotation>
					<xs:documentation>Nazwa usługi {RTTR}:  RTTR - real time transfers</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Max35Text">
						<xs:enumeration value="RTTR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--<xs:choice>
				<xs:element name="Cd" type="ExternalServiceLevel1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementDateTimeIndication1">
		<xs:sequence>
			<xs:element name="DbtDtTm" type="ISODateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data + czas obciazenia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtDtTm" type="ISODateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data + czas uznania</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementInformation13">
		<xs:sequence>
			<xs:element name="SttlmMtd" type="SettlementMethod1Code" fixed="CLRG">
				<xs:annotation>
					<xs:documentation>Sposób rozliczenia - CLRG (Clearing System)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="SttlmMtd" type="SettlementMethod1Code"/>-->
			<!--<xs:element name="SttlmAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="ClrSys" type="ClearingSystemIdentification3Choice">
				<xs:annotation>
					<xs:documentation>Identyfikacja systemu rozliczeniowego</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="InstgRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="InstgRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="InstdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="InstdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="ThrdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>-->
			<!--<xs:element name="ThrdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="1"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SettlementMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLRG"/>
		</xs:restriction>
		<!--<xs:restriction base="xs:string">
			<xs:enumeration value="INDA"/>
			<xs:enumeration value="INGA"/>
			<xs:enumeration value="COVE"/>
			<xs:enumeration value="CLRG"/>
		</xs:restriction>-->
	</xs:simpleType>
	<!--<xs:complexType name="SettlementTimeRequest2">
		<xs:sequence>
			<xs:element name="CLSTm" type="ISOTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TillTm" type="ISOTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrTm" type="ISOTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RjctTm" type="ISOTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="StructuredRegulatoryReporting3">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cd" type="Max10Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Inf" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>-->
	<!--<xs:complexType name="StructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Invcr" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Invcee" type="PartyIdentification32" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>-->
</xs:schema>
